.copy {
  padding: 6.4rem 0 9.6rem 0;

  &--gray {
    background-color: #f6f8f9;
  }

  &__heading {
    font-family: "Montserrat", sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: -3px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    line-height: 1;
    @include media-breakpoint-down(md) {
      font-size: 3.2rem;
    }

    &--center {
      text-align: center;
    }

    &--smaller {
      font-size: 3.2rem;
    }
  }

  &__subheading {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: $gray-700;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 1rem;
    line-height: 1;

    &--center {
      text-align: center;
    }
  }

  &__text {
    font-family: $font-family-serif;
    font-size: 1.2rem;
    color: $gray-700;
    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }

    &--center {
      text-align: center;
    }
  }
}
